doctype html
html
  head
    title= title
    link(rel='stylesheet', href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='stylesheets/multi-select.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery.multi-select.js')
  body
    block content
    script(src='/javascripts/observer.js')