body {
   padding: 50px;
  background-color: #BCC1C2;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5{
  font-family: 'Lato', sans-serif;
}
a,p,li, div
{
  font-family: 'Lato', sans-serif, thin;
}

div.line{
  z-index: -1000;
  height:1px;
  background-color: #D2D2D2;
  width:660px;
  position:absolute;
  left:120px;
}

a {
  color: #00B7FF;
}

select.departments{
    height: 200px;
}

div.search-top{
  background-color: #D2CEDA;
  width:100%;
  height:100%;
}

label{
  margin-left: 15px;
}



div.endTime{
  padding-left: 3px;
}
select[name=endHours],
select[name=endMinutes],
select[name=endPost],
select[name=startHours],
select[name=startMinutes],
select[name=startHours]{
  margin-left: 8px;
}

a.details{
  color:#207FED;
}
.left-half{
  padding-top: 30px;
  text-align: center;
    float:left;
    width: 30%;
}

li.class-li{
  background-color: #B94859;
  margin: 0 auto;
}

div.multi{
  text-align: left;
}
h4.days-title{
  color: #4B4646;
}

label{
  color:#000000;
  margin-right: 5px;
}

div.time{
  color:#080809;
  font-size: 1.3em;
}
div.results{
  max-height: 250px;
  overflow: scroll;
  margin-top: 20px;
  width: 72%;
  float:left;
  margin-left: 15%;
}

.right-half{
  text-align: center;
    float:left;
    width:70%;
}

li.res{
  background-color: white;
  color: #615C5C;
  padding-left: 8px;
  padding-top: 2px;
  list-style: none;
  margin: 0 auto;
  border: 2px solid #ADB9AC;
  border-radius: 4px;
  margin-top: 5px;
}

div.schedule{
  background-color: white;
  display:none;
  position: fixed;
  z-index: 1000;
  max-width: 900px;
  height: 455px;
  left:50%;
  top:10%;
  margin-left: -400px;
  border: solid 2px black;
}

div.focus{
  background-color: rgba(0,0,0,0);
  z-index: 10;
  position: fixed;
  display:none;
  top:0px;
  left:0px;
  width: 100%;
  height: 150vh;
}


button#show-schedule{
  font-size: 1.3em;
  background-color:  #8D9DA4;
  color:white;
  margin-left: 8%;
  margin-top: -20px;
}

button#show-schedule:hover{
  background-color: #319DE5;
}


button#close-schedule{
  border:solid 1px grey;
  color:#207FED;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  left: 10px;
}

button#clear-schedule{
  border:solid 1px grey;
  color: #207FED;
  position: absolute;
  border-radius: 3px;
  top: 420px;
  left: 380px;
}

span#clear-schedule:hover,
span#close-schedule:hover{
  text-decoration: underline;
  cursor: pointer;
}

p.class-title{
  max-height: 15px;
  overflow-y:hidden;
}

p.class-title:hover{
  max-height: 40px;
  overflow:auto;
}



div.days-table{
  width:100%;
  height:30px;
  float:left;
  text-align: center;
}

ul.day-names{
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 0px;
}
ul.day-names > li{
  display:inline;
  margin-left: 50px;
}

div.time-labels{
  padding-top: 40px;
  float:left;
  margin-left: -30px;
  height:auto;
  min-height: 350px;
}

ul.time-names{
  margin-top: -10px;
}

ul.time-names >li{
  margin-top: 30px;
  display:block;
  height:20px;
}

div.fill-column{
  float:left;
  height:350px;
  width:50px;
}
div.day-column{
  margin-top: 0px;
  text-align: center;
  padding-top: 30px;
  float:left;
  height:70%;
  height:450px;
  width:120px;
}

div.friday{
  margin-right: 30px;
}

div.block-class{
  z-index: 1000;
  font-size: 11px;
  border-radius: 3px;
  color:white;
}

div.block-inner{
  position: relative;
  top: 50%;
  transform: translateY(-55%);
}

div.ms-selectable,
div.ms-selection{
  border-radius: 5px;
}

p.block-class-time{
  margin-top: -10px;
}
span.add{
  cursor: pointer;
  margin-left: 20px;
  color: #207FED;
}

span.add:hover{
  text-decoration: underline;
}

.steps{
  margin-bottom: -30px;
}
