body {
   padding: 50px;
  background-color: #880E09;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5{
  font-family: 'Lato', sans-serif;
}
a,p,li, div
{
  font-family: 'Lato', sans-serif, thin;
}

a {
  color: #00B7FF;
}

select.departments{
    height: 200px;
}

div.search-top{
  background-color: #D2CEDA;
  width:100%;
  height:100%;
}

label{
  margin-left: 15px;
}


#formID{
  background-color: rgba(0,0,0,0);
}

div.endTime{
  padding-left: 3px;
}
select[name=endHours],
select[name=endMinutes],
select[name=endPost],
select[name=startHours],
select[name=startMinutes],
select[name=startHours]{
  margin-left: 8px;
}

.left-half{
  padding-top: 30px;
  text-align: center;
    float:left;
    width: 30%;
}

li.class-li{
  background-color: #B94859;
  margin: 0 auto;
}

div.multi{
  text-align: left;
}
h4.days-title{
  color: #FBEBEF;
}

label{
  color:#CCC8D4;
  margin-right: 5px;
}

div.time{
  color:#CCC8D4;
}
div.results{
  margin-top: 30px;
  width: 72%;
  float:left;
  margin-left: 15%;
}

.right-half{
  text-align: center;
    float:left;
    width:70%;
}

li.res{
  background-color: white;
  color: #615C5C;
  padding-left: 8px;
  padding-top: 2px;
  list-style: none;
  margin: 0 auto;
  border: 2px solid #ADB9AC;
  border-radius: 4px;
  margin-top: 5px;
}

.divide{
    margin-top: 10px;
    float:left;
    height: 3px;
    width:100%;
    background-color: #A5AAAC
}