body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

select.departments{
    height: 200px;
}

.left-half{
    float:left;
    width: 50%;
}

.right-half{
    float:left;
    width:50%;
}

.divide{
    margin-top: 10px;
    float:left;
    height: 3px;
    width:100%;
    background-color: #A5AAAC
}